In [107]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/links.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/keywords.csv

In [108]:
#파일 읽어오기

meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')
meta

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [109]:
#원하는 것만 가져오기

meta = meta[['id', 'original_title', 'original_language', 'genres',]]
meta

,id,original_title,original_language,genres
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
45461,439050,رگ خواب,fa,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45462,111109,Siglo ng Pagluluwal,tl,"[{'id': 18, 'name': 'Drama'}]"
45463,67758,Betrayal,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,227506,Satana likuyushchiy,en,[]
45465,461257,Queerama,en,[]

In [110]:
#이름 재정의

meta = meta.rename(columns={'id':'movieId', 'original_title':'title', 'original_language':'language'})
meta

,movieId,title,language,genres
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
45461,439050,رگ خواب,fa,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45462,111109,Siglo ng Pagluluwal,tl,"[{'id': 18, 'name': 'Drama'}]"
45463,67758,Betrayal,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,227506,Satana likuyushchiy,en,[]
45465,461257,Queerama,en,[]

In [111]:
#영어로 된 것만 남겨보기 (en) ~> 정제

meta = meta.loc[meta['language'] == 'en', :]
#meta.loc=['행이름', '열??']
meta

#컬럼 가져오기
#meta = meta.log[:, ['title', 'language']]
#meta = meta.ilog[:, 2]
#meta = meta.title
#txt ~> Vector, 표 ~> Matrix

,movieId,title,language,genres
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
45459,222848,Caged Heat 3000,en,"[{'id': 878, 'name': 'Science Fiction'}]"
45460,30840,Robin Hood,en,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name..."
45463,67758,Betrayal,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,227506,Satana likuyushchiy,en,[]
45465,461257,Queerama,en,[]

In [112]:
#meta.movieId를 Int형으로

meta.movieId = pd.to_numeric(meta.movieId)
meta.movieId

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45459    222848
45460     30840
45463     67758
45464    227506
45465    461257
Name: movieId, Length: 32269, dtype: int64

In [113]:
#genre 정제하기

items = meta.loc[0, 'genres']
#eval ~> python코드를 txt로 가지고 있을때 python으로

txt_items = eval(items)
itemSet = set()

#genre에서 name만 출력해보기
for item in txt_items:
    itemSet.add(item['name'])

itemSet

#==print(set(item['name'] for item in eval(items)))

{'Animation', 'Comedy', 'Family'}

In [114]:
#함수로 만들기

def str_to_set(x):
    genreSet = set()
    for item in eval(x):
        genreSet.add(item['name'])
    return genreSet

In [115]:
#apply ~> 함수의 결과를 다시 데이터에 넣어줌

meta.genres = meta.genres.apply(str_to_set)
meta

,movieId,title,language,genres
0,862,Toy Story,en,"{Animation, Comedy, Family}"
1,8844,Jumanji,en,"{Fantasy, Adventure, Family}"
2,15602,Grumpier Old Men,en,"{Romance, Comedy}"
3,31357,Waiting to Exhale,en,"{Romance, Drama, Comedy}"
4,11862,Father of the Bride Part II,en,{Comedy}
...,...,...,...,...
45459,222848,Caged Heat 3000,en,{Science Fiction}
45460,30840,Robin Hood,en,"{Romance, Action, Drama}"
45463,67758,Betrayal,en,"{Thriller, Drama, Action}"
45464,227506,Satana likuyushchiy,en,{}
45465,461257,Queerama,en,{}

In [116]:
#keywords데이터로 읽기

keyword = pd.read_csv('/kaggle/input/the-movies-dataset/keywords.csv')
keyword

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [117]:
#keyword의 집합으로 정제

keyword.keywords = keyword.keywords.apply(str_to_set)
keyword

           id                                           keywords
0         862  {new toy, toy comes to life, rivalry, friendsh...
1        8844  {new home, giant insect, based on children's b...
2       15602  {duringcreditsstinger, old men, best friend, f...
3       31357  {based on novel, chick flick, divorce, interra...
4       11862  {mother daughter relationship, daughter, midli...
...       ...                                                ...
46414  439050                                      {tragic love}
46415  111109                              {play, artist, pinoy}
46416   67758                                                 {}
46417  227506                                                 {}
46418  461257                                                 {}

[46419 rows x 2 columns]

In [118]:
#keyword Id를 movieId로 변경
#DataType Int로 변경

keyword = keyword.rename(columns={'id':'movieId'})
keyword.movieId = pd.to_numeric(keyword.movieId)
keyword

       movieId                                           keywords
0          862  {new toy, toy comes to life, rivalry, friendsh...
1         8844  {new home, giant insect, based on children's b...
2        15602  {duringcreditsstinger, old men, best friend, f...
3        31357  {based on novel, chick flick, divorce, interra...
4        11862  {mother daughter relationship, daughter, midli...
...        ...                                                ...
46414   439050                                      {tragic love}
46415   111109                              {play, artist, pinoy}
46416    67758                                                 {}
46417   227506                                                 {}
46418   461257                                                 {}

[46419 rows x 2 columns]

In [119]:
#같은 movieId를 갖는 Data 합치기(=join)
#merge(merge data1, data2, 어떤 기준으로?, 어떻게 merge)
#inner ~> 공통된 기준이 있는 부분만 남김
#outer ~> 공통 X더라도 join

meta = pd.merge(meta, keyword, on = 'movieId', how = 'inner')
meta

,movieId,title,language,genres,keywords
0,862,Toy Story,en,"{Animation, Comedy, Family}","{new toy, toy comes to life, rivalry, friendsh..."
1,8844,Jumanji,en,"{Fantasy, Adventure, Family}","{new home, giant insect, based on children's b..."
2,15602,Grumpier Old Men,en,"{Romance, Comedy}","{duringcreditsstinger, old men, best friend, f..."
3,31357,Waiting to Exhale,en,"{Romance, Drama, Comedy}","{based on novel, chick flick, divorce, interra..."
4,11862,Father of the Bride Part II,en,{Comedy},"{mother daughter relationship, daughter, midli..."
...,...,...,...,...,...
32847,222848,Caged Heat 3000,en,{Science Fiction},{}
32848,30840,Robin Hood,en,"{Romance, Action, Drama}",{}
32849,67758,Betrayal,en,"{Thriller, Drama, Action}",{}
32850,227506,Satana likuyushchiy,en,{},{}
32851,461257,Queerama,en,{},{}

In [120]:
#영화를 찾아서 합치고 출력

dk = meta.loc[meta.title == 'The Dark Knight'].iloc[0]
#dk
dkr = meta.loc[meta.title == 'The Dark Knight Rises'].iloc[0]
pd.concat([dk, dkr], axis=1).T

,movieId,title,language,genres,keywords
10278,155,The Dark Knight,en,"{Action, Drama, Thriller, Crime}","{chaos, crime fighter, scarecrow, tragic hero,..."
14315,49026,The Dark Knight Rises,en,"{Thriller, Drama, Action, Crime}","{crime fighter, tragic hero, burglar, catwoman..."

In [121]:
#Jacard Similarity def 구현
#|교집합|/|합집합|

def jacard_similarity(s1, s2):
    if (len(s1|s2) == 0):
        return 0
    return (len(s1&s2)/len(s1|s2))

jacard_similarity(dk.genres|dk.keywords, dkr.genres|dkr.keywords)

0.37142857142857144

In [122]:
#Rating 데이터 읽고 정제

ratings = pd.read_csv('/kaggle/input/the-movies-dataset/ratings_small.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [137]:
ratings.movieId #int64 이므로 int로 변경 안해도 O

0          1371
1          1371
2          1371
3          1371
4          1371
          ...
33295    127728
33296    129009
33297      2103
33298       167
33299       563
Name: movieId, Length: 33300, dtype: int64

In [124]:
#Merge로 title 가져오기

ratings = pd.merge(ratings, meta[['movieId', 'title']], on='movieId', how='inner')
ratings

       userId  movieId  rating   timestamp              title
0           1     1371     2.5  1260759135          Rocky III
1           4     1371     4.0   949810302          Rocky III
2           7     1371     3.0   851869160          Rocky III
3          19     1371     4.0   855193404          Rocky III
4          21     1371     3.0   853852263          Rocky III
...       ...      ...     ...         ...                ...
33295     652   127728     5.0  1439586990               8:46
33296     652   129009     4.0  1442690827     Love Is a Ball
33297     653     2103     3.0   948161066            Solaris
33298     659      167     4.0   836137550              K-PAX
33299     659      563     3.0   834694187  Starship Troopers

[33300 rows x 5 columns]

In [125]:
#pivot Table 만들기(Pivot은 비효율적 ~> 잘 안씀)
#user ~가 (row부분) title(column)에 대해 ??점(value)를 주었다!

pivotRating = ratings.pivot_table(index='userId', columns='title', values='rating')
pivotRating

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,12 Angry Men,1408,...,Young and Innocent,Zaat,Zabriskie Point,Zapped Again!,Zardoz,Zodiac,eXistenZ,xXx,¡Three Amigos!,Мой сводный брат Франкенштейн
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
#user1의 value
pivotRating.loc[1,:]

#user1과 user2의 Pearson Correlation Coefficient
def pearson_similarity(u1, u2):#평균으로 뺀 후에 cos
    u1_c = u1 - u1.mean()
    u2_c = u2 - u2.mean()
    denom = np.sqrt(np.sum(u1_c ** 2) * np.sum(u2_c ** 2))
    if denom != 0:
        return np.sum((u1_c)*(u2_c))/denom
    else:
        return 0

pearson_similarity(pivotRating.loc[1,:], pivotRating.loc[2,:])

0.0

In [141]:
#TEST

dkU = pivotRating['The Dark Knight']
pnU = pivotRating['Prom Night']
yiU = pivotRating['Young and Innocent']
dkpnPS = pearson_similarity(dkU, pnU)
dkyiPS = pearson_similarity(dkU, yiU)

#dkpnPS
dkyiPS

-0.03690613540162226

In [147]:
#영화 하나를 골라서 가장 유사한 영화들을 뽑아보기

def find_similarity_movies(input_title, matrix, n, alpha):
    input_meta = meta.loc[meta['title']==input_title].iloc[0]
    input_set = input_meta.genres | input_meta.keywords
    
    result = []
    
    for this_title in pivotRating.columns:
        if this_title == input_title:
            continue
        
        this_meta = meta.loc[meta['title']==this_title].iloc[0]
        this_set = this_meta.genres | this_meta.keywords
        
        thisinputPS = pearson_similarity(pivotRating[this_title], pivotRating[input_title])
        thisinputJac = jacard_similarity(this_set, input_set)
    
        score = alpha * thisinputPS + (1 - alpha) * thisinputJac
        result.append((this_title, thisinputPS, thisinputJac, score))
        
    result.sort(key = lambda r: r[3], reverse=True)
    return result[:n]
    
result = find_similarity_movies('The Dark Knight', pivotRating, 10, 0.3)
pd.DataFrame(result, columns=['title', 'pearson', 'jaccard', 'score'])

NameError: name 'jaccard_similarity' is not defined